{:tasks {:requires ([babashka.fs :as fs])
         dev (do (shell "yarn install")
                 (shell "yarn shadow-cljs -A:dev:datomic:datahike:test:clerk:datalevin start"))
         stop (shell "yarn shadow-cljs stop")
         test (do (run 'start)
                  (shell "yarn shadow-cljs watch test"))
         test-release (shell "yarn shadow-cljs release test")
         bench (shell "yarn shadow-cljs release bench")}}
