{:tasks {dev (do (shell "yarn install")
                 (shell "yarn shadow-cljs -A:datomic:test:clerk watch test"))
         server (shell "yarn shadow-cljs -A:datomic:test:clerk server")
         bench (shell "yarn shadow-cljs release bench")}}
