{:paths ["src/main"]
 :deps {applied-science/js-interop {:mvn/version "0.3.3"}
        com.lucasbradstreet/cljs-uuid-utils {:mvn/version "1.0.2"}
        metosin/malli {:mvn/version "0.9.2"}
        net.cgrand/macrovich {:mvn/version "0.2.1"}
        org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/core.match {:mvn/version "1.0.0"}
        reagent/reagent {:mvn/version "1.1.1"}
        com.taoensso/tufte {:mvn/version "2.4.5"}}
 :aliases {:datomic {:extra-deps {com.datomic/datomic-free {:mvn/version "0.9.5697"}}}
           :datalevin {:jvm-opts ["--add-opens=java.base/java.nio=ALL-UNNAMED"
                                  "--add-opens=java.base/sun.nio.ch=ALL-UNNAMED"]
                       :extra-deps {datalevin/datalevin {:mvn/version "0.7.7"}
                                    datascript/datascript {:mvn/version "1.4.2"}}}
           :dev {:extra-paths ["classes"]
                 :extra-deps {org.babashka/sci {:mvn/version "0.7.39"
                                                #_#_#_#_:git/url "https://github.com/babashka/sci"
                                                        :git/sha "50557c964d44533aa2d61ae7519d252ea83df24b"}rewrite-clj/rewrite-clj {:mvn/version "1.1.46"}
                              thheller/shadow-cljs {:mvn/version "2.20.20"}
                              com.bhauman/rebel-readline-cljs {:mvn/version "0.1.3"
                                                               :exclusions [rewrite-cljs/rewrite-cljs]}
                              com.bhauman/cljs-test-display {#_#_:mvn/version "0.1.1"
                                                             :git/sha "76905766a8c13a95f2fb93ed2a54fa7b2343db20"
                                                             :git/url "https://github.com/mhuebert/cljs-test-display"}}}
           :test {:extra-paths ["src/test"]}

           :clerk {:extra-paths ["src/notebooks"]
                   :extra-deps {io.github.mhuebert/clerk-cljs
                                {#_#_:local/root "../clerk-cljs"
                                 :git/sha "0ee9d7d38522d7538d83237168365a200eff252d"}
                                org.clojure/core.async {:mvn/version "1.6.673"}
                                http-kit/http-kit {:mvn/version "2.6.0"}
                                ring/ring {:mvn/version "1.9.6"}
                                ring/ring-defaults {:mvn/version "0.3.4"}}}

           :bench {:extra-paths ["src/bench"]
                   :extra-deps {datascript/datascript {:mvn/version "1.2.8"}
                                io.github.ribelo/doxa {:git/sha "8270dfefd9a7ffcaa6df988d26c66f57fb2a99b9"}
                                edn-query-language/eql {:mvn/version "1.0.2"}
                                meander/epsilon {:mvn/version "0.0.650"}
                                com.taoensso/encore {:mvn/version "3.42.0"}
                                com.taoensso/timbre {:mvn/version "6.0.3"}
                                juji/editscript {:mvn/version "0.6.2"}}}}
 :mvn/repos
 {"central" {:url "https://repo1.maven.org/maven2/"}
  "clojars" {:url "https://clojars.org/repo"}
  "jitpack" {:url "https://jitpack.io"}
  "my.datomic.com" {:url "https://my.datomic.com/repo"}}}
